*{
	margin: 0;
	padding: 0;
}

body{
	background: #C471EE;
	color: #fff;
	font-size: 16px;
	text-align: center;
}


#logo_formulario h1{
	font-size: 60px;
}

#logo_formulario p{
	font-size: 25px;
	margin-bottom: 20px;
}

#divisao{
	border-bottom: 2px solid #fff;
}

#principal{
	width: 520px;
	margin: 0 auto;
}

#principal div{
	padding: 5px;
}

form{
	text-align: center;
	
}

label{
	display: block;
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
}

.campo_input{
	width: 450px;
	padding: 3px;
}

select{
	width: 460px;
	padding: 3px;
}

#sexo_formulario p{
	display: inline;
}

.radio_box_formulario{
	display: block;
	text-align: left;
	margin-left: 30px;
}

button{
	padding: 10px;
	width: 250px;
	color: #fff;
	font-weight: bold;
	background-color:#FB7716;
	border: 1px solid #fff;
	border-radius: 3px;
}

button:hover{
	background: #FB5B16;
}
